*.o
*.so
*.mexa64
*.aux
*.log
*.out
*.a
*.pyc
*~
#*#
*.dSYM
._*
.DS_Store
*.original
slprj
etc/gmto*
sandbox
*.npy
*.r2017a
*.el
*.npz
*.bak
*.dir
*.dat
*.r2016a
*.png
*.svg
/M1
*.zip
ReconstructorM.pickle
ES2M1RBM.pickle
*init__.py
timing
simceo.code-workspace
testDT
SHAcO_qp.pickle
SHAcO.pickle
simceo_refman.toc
dos/SHWFS_ES_M1S7Rzissue
old_notebooks
